__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv/
venv/
*.db
.idea/
.vscode/



terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
*.tfvars


